.box1{background-color: aqua; 
        height: 200px;width: 200px;}

 .box2{ background-color: blue;
        height: 200px; width: 200px;}       

 .box3{background-color: brown;
    height: 200px; width: 200px;}       
